@CHARSET "UTF-8";



body {
	background: #ccf4cc;
	height: 100%;
	line-height: 20px;
	word-break: break-all;
	padding: 30px;
		font-weight: bold;
	font-size:large;

}


.login {
	background:white;
	width: 600px;
	padding: 30px;
	text-align: center;
	border: 1px solid #cccccc;
	margin: 40px auto;
}

.search {
	background:white;
	width: 600px;
	padding: 10px;
	text-align: center;
	border: 1px solid #cccccc;
	margin: 40px auto;
}

.commenttitle {
	font-size:small;
}
.message {

	background:white;
	width: 780px;
	padding: 10px;
	text-align: left;
	border: 1px solid #cccccc;
	margin: 40px auto;
}

.commentbox {
	background:white;
	width: 800px;
	padding: 10px;
	text-align: left;
	margin: 40px auto;


}

.eachComment {
	background:  #cccccc;
	width: 750px;
	padding: 10px;
	text-align:left;
	border: 1px solid #cccccc;
	margin: 10px auto;
}

.commentbody {
	font-size:medium;
	tezt-align :left;
}


.title {
	font-weight: bold;
	font-size:xx-large;
}

.body{
	font-size:large;
	text-align:left;
}

.userName {
	font-size:small;
}

.errorMessages {
	color:red;
	font-weight:bold;
	font-size:large;
}
.newMessage {
	background:white;
	width: 900px;
	padding: 10px;
	text-align: center;
	border: 1px solid #cccccc;
	margin: 40px auto;
}

.table th {
	  background-color: #cccccc;
	  width: 200px;
		padding: 10px;
}


.table td{
	background-color: white;
	width: 900px;
	text-align: center;

}

.signup {
	background:white;
	width: 600px;
	padding: 10px;
	text-align: center;
	border: 1px solid #cccccc;
	margin: 40px auto;
}

.settings {
	background:white;
	width: 600px;
	padding: 10px;
	text-align: center;
	border: 1px solid #cccccc;
	margin: 40px auto;

}

